html,body{
	height:100%;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #777;
}

/*总体容器*/

	.total-container{
		height:100%;
		position:relative;
	}

	/*左侧菜单*/

		.LPmenu{
			float:left;
			position:fixed;
			top:0;
			left:-250px;
			height: 100vh;
			width:250px;
			background-color:rgba(255,255,255,0.7);
			border-right:3px solid rgba(119,119,119,0.7);
			transition: all 0.25s;
			display:none;
			z-index:2000;
		}
		.LPmenu.open{
			transform:translateX(220px);
		}

		/*按钮部分*/

			.Pop label{
				color: #fff; 
				font-size:20px;
				font: bold 20px Montserrat; 
				text-align: center; 
				border-radius: 0 4px 4px 0;
				display: block; 
				height:50px;
				position: absolute; 
				left: 250px; 
				top: 50vh;
				cursor: pointer; 
				text-transform: uppercase;
				transition: all 0.25s;
				transform: scale(1,2.5);
				-webkit-animation-duration: 2s;
				-webkit-animation-iteration-count: infinite; 
			}
			.Pop label i{
				line-height:50px;
			}
			#tm{
				display: none;
			}
			@-webkit-keyframes bluePulse {
				from { background-color: #007d9a; -webkit-box-shadow: 0 0 9px #333; }
				50% { background-color: #2daebf; -webkit-box-shadow: 0 0 18px #2daebf; }
				to { background-color: #007d9a; -webkit-box-shadow: 0 0 9px #333; }
			}
			.blue.button {
				-webkit-animation-name: bluePulse; 
				-webkit-animation-duration: 4s; 
			}

		/*弹出内容*/

			.Pop .sidenav {
				position: absolute; 
				left: 0; 
				top: 0; 
				bottom: 0; 
				padding-top: 100px;
			}
			.Pop .sidenav li {
				list-style-type: none;
			}
			.Pop .sidenav a { 
				color: white; text-decoration: none; 
			}
			.Pop .sidenav b {
				font: bold 12px/48px Montserrat; 
				display: block;
				opacity: 0; 
				transform: translateX(50px); 
				transition: all 0.4s;
			}
			#tm:checked ~ .sidenav b {opacity: 1; transform: translateX(0);}
			#tm:checked ~ .sidenav li:nth-child(1) b {transition-delay: 0.08s;}
			#tm:checked ~ .sidenav li:nth-child(2) b {transition-delay: 0.16s;}
			#tm:checked ~ .sidenav li:nth-child(3) b {transition-delay: 0.24s;}
			#tm:checked ~ .sidenav li:nth-child(4) b {transition-delay: 0.32s;}
			#tm:checked ~ .sidenav li:nth-child(5) b {transition-delay: 0.40s;}
			#tm:checked ~ .sidenav li:nth-child(6) b {transition-delay: 0.48s;}

	/*右侧内容*/

		.main-contant{
			transition: all 0.25s;
			position:relative;
			height:100%;
		}
		.main-contant.container{
			margin:0;
			padding:0;
		}

		/*nav 导航栏*/

			.navbar-inverse{
				background-color:#303030;
			} 
			.navbar-wrapper .navbar {
			    padding-right: 15px;
			    padding-left: 15px;
			}
			.navbar-wrapper>.container ,.wall-wrapper>.container{
			    padding-right: 0;
			    padding-left: 0;
			}
			.navbar-inverse .navbar-toggle {
			    border-color: #3f3f3f;
			}
			.navbar-inverse .navbar-toggle:hover {
			    background-color: #3f3f3f;
			}
			.navbar-inverse .navbar-brand{
				color: #cfcfcf;
			}
			.navbar-inverse .navbar-nav>li>a {
			    color: #afafaf;
			}

	/*swiper*/
		.swiper-container {
			position:absolute;
			width:100%;
			height:500px;
			top:0;	
		    z-index:-100;
		}
		.swiper-slide {
		    text-align: center;
		    font-size: 18px;
		    background: #777;

		    /* Center slide text vertically */
		    display: -webkit-box;
		    display: -ms-flexbox;
		    display: -webkit-flex;
		    display: flex;
		    -webkit-box-pack: center;
		    -ms-flex-pack: center;
		    -webkit-justify-content: center;
		    justify-content: center;
		    -webkit-box-align: center;
		    -ms-flex-align: center;
		    -webkit-align-items: center;
		    align-items: center;
		}
		.swiper-slide a{
			display:block;
			width:100%;
			height:500px;
		}
		.swiper-slide:first-child a{
			background:url(../../image/001.jpg) no-repeat 50% 50%;
		}
		.swiper-slide:nth-child(2) a{
			background:url(../../image/002.jpg) no-repeat 50% 50%;
		}
		.swiper-slide:nth-child(3) a{
			background:url(../../image/004.jpg) no-repeat 50% 50%;
		}
		.swiper-slide:last-child a{
			background:url(../../image/005.jpg) no-repeat 50% 50%;
		}

/*媒体查询*/

	@media (min-width: 768px){
	
	/*左侧菜单*/

		.LPmenu{
			display:block;
		}

	/*nav 导航栏*/

		.navbar-wrapper{
			margin-top:20px;
		}
		.main-contant.container{
	        padding-right: 15px;
			padding-left: 15px;
			margin-right: auto;
			margin-left: auto;
		}
		.main-contant.left-open{
			transform: translateX(80px);
		}
		.navbar-wrapper .navbar {
		    padding-right: 0;
		    padding-left: 0;
		}
		.navbar-static-top {
		    border-radius: 4px;
		}
		.nav>li>a {
		    background: -moz-linear-gradient(center top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.34) 100%) repeat scroll 0 0 transparent; 
		    border: 1px solid #1f1f1f; 
		    border-right: none; 
		    box-shadow: 0 2px 3px rgba(255, 255, 255, 0.05) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
		    color: #777777; 
		    cursor: pointer; 
		    font-size: 14px; 
		    text-decoration: none; 
		    text-shadow: 0 -1px #0F0F0F; 
		    vertical-align: top; 
		    -webkit-transition: all .5s ease; 
		    -moz-transition: all .5s ease; 
		    -ms-transition: all .5s ease; 
		    -o-transition: all .5s ease; 
		    transition: all .5s ease; 
		    -webkit-touch-callout: none; 
		    -webkit-user-select: none; 
		    -khtml-user-select: none; 
		    -moz-user-select: none; 
		    -ms-user-select: none; 
		    user-select: none; 
		    outline: none ;
		}
		.nav>li>a:hover { 
		    color:#e9e9e9;
		}
		.open>a{
			border-color:none !important;
		}
		.nav>li:first-child>a { 
		    border-radius: 4px 0 0 4px ;
		} 
		.nav>li:last-child>a { 
		    border-radius: 0 4px 4px 0 ;
		} 
		.nav>li>a:active { 
		    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.1) ;
		} 
		.nav>li>a.highlight { 
		    background: -moz-linear-gradient(center top, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.44) 100%) ;repeat scroll 0 0 transparent; 
		    color: #e9e9e9 ;
		} 
		.nav>li:last-child>a { 
		    border-right: 1px solid #1f1f1f; 
		}
		.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	    	border-color:rgba(0,0,0,0);
		}
		.nav-login{
			float:right;
			border-radius: 0 4px 4px 0 ;
		}
	}

